@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+JP:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
     
}

header ul li{
    list-style: none;
    margin-left: 10px;
    text-align: center;
    width: auto;
    
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    
}

header ul li a:hover ,  
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522, transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen;
}

section img#mountains_front{
    z-index: 10;
}

#text{
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p{
    font-size: 1.2em;
    color: #fff;
}

#linguagens{
    background: #1c0522;
    
    
}

#linguagens h2{
    color: #fff;
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 10px;
}

#img-linguagens{
    width: 100%;
    max-width: 835px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

#img-linguagens img{
    padding: 20px;
}

#background{
    background-color: #1c0522;
}

#projetos{
    background: #1c0522;
    padding-bottom: 25px;
    max-width: 1020px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#projetos h2{
    color: #fff;
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 50px;
}

#projetos p{
    font-size: 1.2em;
    color: #fff;
    text-align: center;
}

#projeto-1{
    width: 100%;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

#projeto-1 img{
    padding: 20px 30px;
}

#projeto-N{
    width: 365px;
    margin-left: auto;
    float: left;
}

#projeto-breve{
    width: 115px;
    float: left;
    margin-left: 100px;
}

#projeto-breve2{
    width: 115px;
    margin-right: 80px;
    float: right;
}

footer{
    background-color: #0f0711;
    color: #fff;
}

#footer-container{
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 835px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
}

#contato{
    float: left;
    width: 100%;
    max-width: 309px;
    font-size: 20px;
}

#contato h3{
    font-size: 3em;
}

#redes{
    float: right;
    width: 100%;
    max-width: 270px;
}

#redes h3{
    font-size: 3em;
}

#redes button{
    width: 60px;
    height: 25px;
    font-size: 20px;
    border: 2px solid rgb(56, 56, 56);
    background-color: #c4c8cf;
    margin-left: 15px;

}
@media (max-width: 954px) {
    .img_responsivo {
        width: 280px;
    }
    #projeto-1 {
        text-align: center;
    }
    #img-linguagens {
        text-align: center;
    }
    
}
@media (max-width: 655px) {
    #div_logo {
        margin: auto;
        text-align: center;
    }
    header ul {
        display: none;
    }
    #footer-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .img_responsivo {
        
        margin: auto;
    }
    #projeto-1 {
        text-align: center;
    }
    .sec {
        width: 100%;
        text-align: left;
        padding: 0 20px;
    }
}
@media (max-width: 340px) {
    .img_responsivo {
        width: 100%;
        height: 150px;
        margin: auto;
    }
    .hard_skill {
        width: 100%;
    }
    #projeto-1 {
        width: 200px;
    }
    #linguagens > h2 {
        font-size: 2.5em;
    }
    .sec {
        padding: 0 10px;
    }
    #contato {
        font-size: 15px;
        text-align: center;
    }
    #redes {
        text-align: center;
    }
}
